
* {
  box-sizing: border-box;
}

.header {
    width: 100%;
    height: 300px;
    background-color: #D677D8;
    margin: 0 5px;
}


/* Grid container - 3 divs with cocktail information placed within this container */

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: lightblue;
}

/* Divs within the grid container */

.container > div {
  border: red solid 1px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}


.topCocktails:hover {
background-color: red;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}