
* {
  box-sizing: border-box;
}


/* header section (*/
.header {
    height: 450px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.5fr;
    width: 65%;
}

.nav-header-text {
    font-family: 'Charm', cursive;
    font-size: 25px;
}

#no-cocktail-search-entered > h6 {
    text-align: center;
    padding-top: 30px;
}

 .recommended-cocktails {
    padding: 5px;
 }

.no-search-text {
    text-decoration: none!important;
    padding-left: 10px;
}

#cocktail-search-result {
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    height: 150px;
}

.searched-cocktail-image {
    padding: 7px;
}

.header-image {
    position: absolute;
    right: 25px;
    top: 100px;
    padding-bottom: 15px;
}

.btn {
 background-color:#fff;
 color:#c23891;
 border: 1px #c23891 solid;
}

.btn:hover {
    background-color:#ff49be;
    color: #fff;
}


.cocktails-to-try {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    position:relative;
    width: 100%;
}

.cocktails-to-try > a {
    padding: 50px;
}

.cocktails-to-try > h6 {
    padding: 35px 0;
    font-family: 'Charm', cursive;
    font-size: 20px;
    font-weight: 500;
}


.cosmo:hover, .mojito:hover, .mai-tai:hover {
    /* background-color: #c1348f; */
    transform: scale(1.3);
}

/* Random cocktail generator button */

/* div class which contains the button within it */
.button { 
    display: flex;
    justify-content: center;
}

/* Button to generate random drink using API info */
#random-drink-button {
    width: 500px;
    padding: 10px;
    margin: 5px;
    font-family: 'Delius Swash Caps', cursive;

}


/* Grid container - 3 divs with cocktail information placed within this container */

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-gap: 10px;
  padding: 35px 0;
  position: relative;
}

/* Divs within the grid container */

.container > div {
  border-top: rgb(172, 172, 172) solid 3px;
  padding: 0 10px 10px;
}

.topCocktails {
    font-family: 'Delius Swash Caps', cursive;
}

.topCocktails:hover {
 color: #c1348f;
 font-weight: 500;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


